<div class="jc-products-section-row">

  <div class="jc-products-section-col-auto">
    <div class="jc-product-section-col-inner-autoship">
      <a href="/products/cream-2-5-fl-oz" class="jc-product-section-overlay-link w-inline-block">
      </a>
        <div class="jc-product-section-img-wrapper-auto jc-product-section-img-wrapper-auto-5"></div>
        <div class="jc-product-section-bottom-wrapper">
        <div class="jc-product-section-breaker-wrapper">
          <div class="jc-product-section-hr"></div>
          <div class="jc-product-section-hr jc-product-section-sub-hr"></div>
        </div>
        <h4 class="jc-product-section-heading jc-product-section-heading-margin">1000mg Cream</h4>
        {% comment %}
        <div class="jc-product-section-text">{{ shortDescription.description }}</div>
        {% endcomment %}
        <div class="jc-product-section-btn-wrapper">
          <a href="/products/cream-2-5-fl-oz" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn">
            <p class="jc-product-section-link-text">Shop Now</p>
            <div class="jc-btn-breaker-wrapper">
              <div class="jc-product-section-link-breaker"></div>
              <div class="jc-product-section-link-breaker-expand"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  
  <div class="jc-products-section-col-auto">
    <div class="jc-product-section-col-inner-autoship">
      <a href="/products/25mg-hemp-extract-gummies-vegan" class="jc-product-section-overlay-link w-inline-block">
      </a>
        <div class="jc-product-section-img-wrapper-auto jc-product-section-img-wrapper-auto-3"></div>
        <div class="jc-product-section-bottom-wrapper">
        <div class="jc-product-section-breaker-wrapper">
          <div class="jc-product-section-hr"></div>
          <div class="jc-product-section-hr jc-product-section-sub-hr"></div>
        </div>
        <h4 class="jc-product-section-heading jc-product-section-heading-margin">25mg Gummies</h4>
        {% comment %}
        <div class="jc-product-section-text">{{ shortDescription.description }}</div>
        {% endcomment %}
        <div class="jc-product-section-btn-wrapper">
          <a href="/products/25mg-hemp-extract-gummies-vegan" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn">
            <p class="jc-product-section-link-text">Shop Now</p>
            <div class="jc-btn-breaker-wrapper">
              <div class="jc-product-section-link-breaker"></div>
              <div class="jc-product-section-link-breaker-expand"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

      <div class="jc-products-section-col-auto">
        <div class="jc-product-section-col-inner-autoship">
          <a href="/products/tinctures?variant=29122588999733" class="jc-product-section-overlay-link w-inline-block">
          </a>
            <div class="jc-product-section-img-wrapper-auto"></div>
            <div class="jc-product-section-bottom-wrapper">
            <div class="jc-product-section-breaker-wrapper">
              <div class="jc-product-section-hr"></div>
              <div class="jc-product-section-hr jc-product-section-sub-hr"></div>
            </div>
            <h4 class="jc-product-section-heading jc-product-section-heading-margin">2500mg Tincture</h4>
            {% comment %}
            <div class="jc-product-section-text">{{ shortDescription.description }}</div>
            {% endcomment %}
            <div class="jc-product-section-btn-wrapper">
              <a href="/products/tinctures?variant=29122588999733" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn">
                <p class="jc-product-section-link-text">Shop Now</p>
                <div class="jc-btn-breaker-wrapper">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="jc-products-section-col-auto">
        <div class="jc-product-section-col-inner-autoship">
          <a href="/products/softgels?variant=29122871918645" class="jc-product-section-overlay-link w-inline-block">
          </a>
            <div class="jc-product-section-img-wrapper-auto jc-product-section-img-wrapper-auto-2"></div>
            <div class="jc-product-section-bottom-wrapper">
            <div class="jc-product-section-breaker-wrapper">
              <div class="jc-product-section-hr"></div>
              <div class="jc-product-section-hr jc-product-section-sub-hr"></div>
            </div>
            <h4 class="jc-product-section-heading jc-product-section-heading-margin">30mg Softgel</h4>
            {% comment %}
            <div class="jc-product-section-text">{{ shortDescription.description }}</div>
            {% endcomment %}
            <div class="jc-product-section-btn-wrapper">
              <a href="/products/softgels?variant=29122871918645" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn">
                <p class="jc-product-section-link-text">Shop Now</p>
                <div class="jc-btn-breaker-wrapper">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="jc-products-section-col-auto">
        <div class="jc-product-section-col-inner-autoship">
          <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored" class="jc-product-section-overlay-link w-inline-block">
          </a>
            <div class="jc-product-section-img-wrapper-auto jc-product-section-img-wrapper-auto-4"></div>
            <div class="jc-product-section-bottom-wrapper">
            <div class="jc-product-section-breaker-wrapper">
              <div class="jc-product-section-hr"></div>
              <div class="jc-product-section-hr jc-product-section-sub-hr"></div>
            </div>
            <h4 class="jc-product-section-heading jc-product-section-heading-margin">5mg Dog Chews</h4>
            {% comment %}
            <div class="jc-product-section-text">{{ shortDescription.description }}</div>
            {% endcomment %}
            <div class="jc-product-section-btn-wrapper">
              <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn">
                <p class="jc-product-section-link-text">Shop Now</p>
                <div class="jc-btn-breaker-wrapper">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>


</div>