

<div class="jc-products-section-row holiday">



    <div class="full-width-heading-container">
      <h4 class="jc-product-section-heading large less-bold">Gummies</h4>
    </div>

    
      <div class="jc-products-flex-col jc-products-flex-col-custom">
        <div class="jc-product-section-col-inner">
          <a href="https://www.rrmeds.com/products/30mg-hemp-extract-gummies-vegan" class="jc-product-section-overlay-link w-inline-block"></a>
          <div class="jc-product-section-img-wrapper collection" >
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Gummies_FS_30mg.jpg?v=1670445449">
          </div>
          <div class="jc-product-section-bottom-wrapper">
            <div class="product-title-and-img-wrapper">
                <h4 class="jc-product-section-heading no-margin">30mg CBD Gummies</h4>
                {%comment%}
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
                {%endcomment%}
            </div>
            <div class="spectrum-wrapper holiday">
                <div class="meta-wrapper no-padding center">
                  <div class="green-square"></div>
                  <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                </div>
            </div>
            <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/30mg-hemp-extract-gummies-vegan" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
          </div>
        </div>
      </div>




      <div class="full-width-heading-container">
        <h4 class="jc-product-section-heading large less-bold">Tinctures</h4>
      </div>
  

      <div class="jc-products-flex-col jc-products-flex-col-custom">
        <div class="jc-product-section-col-inner">
          <a href="https://www.rrmeds.com/products/tinctures?variant=29122588868661" class="jc-product-section-overlay-link w-inline-block"></a>
          <div class="jc-product-section-img-wrapper collection" >
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_FM_500mg.jpg?v=1670022476">
          </div>
    
          <div class="jc-product-section-bottom-wrapper">

            <div class="product-title-and-img-wrapper">
                <h4 class="jc-product-section-heading no-margin align-left">500mg CBD Tincture</h4>
                <div class="product-spacer"></div>
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
          
                {%comment%}
              {if {{product.metafields.product.flavor}} == 'unflavored' %}
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
              {endif %}
              {%endcomment%}

            </div>

            <div class="spectrum-wrapper holiday">
                <div class="meta-wrapper no-padding center">
                  <div class="green-square"></div>
                  <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                </div>

              {%comment%}
                <div class="meta-wrapper no-padding center">
                  <div class="orange-square"></div>
                  <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                </div>

                <div class="meta-wrapper no-padding center">
                  <div class="blue-square"></div>
                  <h5 class="sk-product-section-meta-heading">For Pets</h5>
                </div>
            
                {%endcomment%}
            </div>

            <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tinctures?variant=29122588868661" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
          </div>
        </div>
      </div>

      <div class="jc-products-flex-col jc-products-flex-col-custom">
        <div class="jc-product-section-col-inner">
          <a href="https://www.rrmeds.com/products/tinctures?variant=29122588901429" class="jc-product-section-overlay-link w-inline-block"></a>
          <div class="jc-product-section-img-wrapper collection" >
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_FM_500mg_3-Pack.jpg?v=1670022477">
          </div>
    
          <div class="jc-product-section-bottom-wrapper">

            <div class="product-title-and-img-wrapper">
                <h4 class="jc-product-section-heading no-margin align-left">500mg CBD Tincture <br>(3-Pack)</h4>
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
          
                {%comment%}
              {if {{product.metafields.product.flavor}} == 'unflavored' %}
                <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
              {endif %}
              {%endcomment%}

            </div>

            <div class="spectrum-wrapper holiday">
                <div class="meta-wrapper no-padding center">
                  <div class="green-square"></div>
                  <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                </div>

              {%comment%}
                <div class="meta-wrapper no-padding center">
                  <div class="orange-square"></div>
                  <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                </div>

                <div class="meta-wrapper no-padding center">
                  <div class="blue-square"></div>
                  <h5 class="sk-product-section-meta-heading">For Pets</h5>
                </div>
            
                {%endcomment%}
            </div>

            <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tinctures?variant=29122588901429" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
          </div>
        </div>
      </div>
      
        <div class="jc-products-flex-col jc-products-flex-col-custom">
          <div class="jc-product-section-col-inner">
            <a href="https://www.rrmeds.com/products/tinctures?variant=29122588934197" class="jc-product-section-overlay-link w-inline-block"></a>
            <div class="jc-product-section-img-wrapper collection" >
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_FM_1000mg.jpg?v=1670022477">
            </div>
      
            <div class="jc-product-section-bottom-wrapper">
  
              <div class="product-title-and-img-wrapper">
                  <h4 class="jc-product-section-heading no-margin align-left">1000mg CBD Tincture</h4>
                  <div class="product-spacer"></div>
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
            
                  {%comment%}
                {if {{product.metafields.product.flavor}} == 'unflavored' %}
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
                {endif %}
                {%endcomment%}
  
              </div>
  
              <div class="spectrum-wrapper holiday">
                  <div class="meta-wrapper no-padding center">
                    <div class="green-square"></div>
                    <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                  </div>
  
                {%comment%}
                  <div class="meta-wrapper no-padding center">
                    <div class="orange-square"></div>
                    <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                  </div>
  
                  <div class="meta-wrapper no-padding center">
                    <div class="blue-square"></div>
                    <h5 class="sk-product-section-meta-heading">For Pets</h5>
                  </div>
              
                  {%endcomment%}
              </div>
  
              <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tinctures?variant=29122588934197" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
            </div>
          </div>
        </div>

        <div class="jc-products-flex-col jc-products-flex-col-custom">
          <div class="jc-product-section-col-inner">
            <a href="https://www.rrmeds.com/products/tinctures?variant=29122588966965" class="jc-product-section-overlay-link w-inline-block"></a>
            <div class="jc-product-section-img-wrapper collection" >
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_FM_1000mg_3-Pack.jpg?v=1670022477">
            </div>
      
            <div class="jc-product-section-bottom-wrapper">
  
              <div class="product-title-and-img-wrapper">
                  <h4 class="jc-product-section-heading no-margin align-left">1000mg CBD Tincture <br>(3-Pack)</h4>
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
            
                  {%comment%}
                {if {{product.metafields.product.flavor}} == 'unflavored' %}
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
                {endif %}
                {%endcomment%}
  
              </div>
  
              <div class="spectrum-wrapper holiday">
                  <div class="meta-wrapper no-padding center">
                    <div class="green-square"></div>
                    <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                  </div>
  
                {%comment%}
                  <div class="meta-wrapper no-padding center">
                    <div class="orange-square"></div>
                    <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                  </div>
  
                  <div class="meta-wrapper no-padding center">
                    <div class="blue-square"></div>
                    <h5 class="sk-product-section-meta-heading">For Pets</h5>
                  </div>
              
                  {%endcomment%}
              </div>
  
              <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tinctures?variant=29122588966965" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
            </div>
          </div>
        </div>

        <div class="jc-products-flex-col jc-products-flex-col-custom">
          <div class="jc-product-section-col-inner">
            <a href="https://www.rrmeds.com/products/thc-free-tincture-fresh-mint?variant=39834283212998" class="jc-product-section-overlay-link w-inline-block"></a>
            <div class="jc-product-section-img-wrapper collection" >
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_BS_FM_1000mg.jpg?v=1670022479">
            </div>
      
            <div class="jc-product-section-bottom-wrapper">
  
              <div class="product-title-and-img-wrapper">
                  <h4 class="jc-product-section-heading no-margin align-left">1000mg THC-Free Tincture</h4>
                  <div class="product-spacer"></div>
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
            
                  {%comment%}
                {if {{product.metafields.product.flavor}} == 'unflavored' %}
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
                {endif %}
                {%endcomment%}
  
              </div>
  
              <div class="spectrum-wrapper holiday">
                <div class="meta-wrapper no-padding center">
                  <div class="orange-square"></div>
                  <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                </div>
                {%comment%}
                  <div class="meta-wrapper no-padding center">
                    <div class="green-square"></div>
                    <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                  </div>
  
  
                  <div class="meta-wrapper no-padding center">
                    <div class="blue-square"></div>
                    <h5 class="sk-product-section-meta-heading">For Pets</h5>
                  </div>
              
                  {%endcomment%}
              </div>
  
              <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/thc-free-tincture-fresh-mint?variant=39834283212998" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
            </div>
          </div>
        </div>
        <div class="jc-products-flex-col jc-products-flex-col-custom">
          <div class="jc-product-section-col-inner">
            <a href="https://www.rrmeds.com/products/thc-free-tincture-fresh-mint?variant=39834283245766" class="jc-product-section-overlay-link w-inline-block"></a>
            <div class="jc-product-section-img-wrapper collection" >
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_BS_FM_1000mg_3-Pack.jpg?v=1670022477">
            </div>
      
            <div class="jc-product-section-bottom-wrapper">
  
              <div class="product-title-and-img-wrapper">
                  <h4 class="jc-product-section-heading no-margin align-left">1000mg THC-Free Tincture <br>(3-Pack)</h4>
                
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
            
                  {%comment%}
                {if {{product.metafields.product.flavor}} == 'unflavored' %}
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
                {endif %}
                {%endcomment%}
  
              </div>
  
              <div class="spectrum-wrapper holiday">
                <div class="meta-wrapper no-padding center">
                  <div class="orange-square"></div>
                  <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                </div>
                {%comment%}
                  <div class="meta-wrapper no-padding center">
                    <div class="green-square"></div>
                    <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                  </div>
  
  
                  <div class="meta-wrapper no-padding center">
                    <div class="blue-square"></div>
                    <h5 class="sk-product-section-meta-heading">For Pets</h5>
                  </div>
              
                  {%endcomment%}
              </div>
  
              <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/thc-free-tincture-fresh-mint?variant=39834283212998" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
            </div>
          </div>
        </div>



        <div class="jc-products-flex-col jc-products-flex-col-custom">
          <div class="jc-product-section-col-inner">
            <a href="https://www.rrmeds.com/products/tincture-unflavored?variant=32310782558261" class="jc-product-section-overlay-link w-inline-block"></a>
            <div class="jc-product-section-img-wrapper collection" >
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_UF_500mg.jpg?v=1670022476">
            </div>
      
            <div class="jc-product-section-bottom-wrapper">
  
              <div class="product-title-and-img-wrapper">
                  <h4 class="jc-product-section-heading no-margin align-left">500mg CBD Tincture</h4>
                  <div class="product-spacer"></div>
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
                  {%comment%}
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
                {%endcomment%}
  
              </div>
  
              <div class="spectrum-wrapper holiday">
                <div class="meta-wrapper no-padding center">
                  <div class="green-square"></div>
                  <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                </div>
                {%comment%}
  
                  <div class="meta-wrapper no-padding center">
                    <div class="orange-square"></div>
                    <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                  </div>
  
                  <div class="meta-wrapper no-padding center">
                    <div class="blue-square"></div>
                    <h5 class="sk-product-section-meta-heading">For Pets</h5>
                  </div>
              
                  {%endcomment%}
              </div>
  
              <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tincture-unflavored?variant=32310782558261" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
            </div>
          </div>
        </div>

        <div class="jc-products-flex-col jc-products-flex-col-custom">
          <div class="jc-product-section-col-inner">
            <a href="https://www.rrmeds.com/products/tincture-unflavored?variant=32310809264181" class="jc-product-section-overlay-link w-inline-block"></a>
            <div class="jc-product-section-img-wrapper collection" >
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_UF_500mg_3-Pack.jpg?v=1670022476">
            </div>
      
            <div class="jc-product-section-bottom-wrapper">
  
              <div class="product-title-and-img-wrapper">
                  <h4 class="jc-product-section-heading no-margin align-left">500mg CBD Tincture <br>(3-Pack)</h4>
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
                  {%comment%}
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
                {%endcomment%}
  
              </div>
  
              <div class="spectrum-wrapper holiday">
                <div class="meta-wrapper no-padding center">
                  <div class="green-square"></div>
                  <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                </div>
                {%comment%}
  
                  <div class="meta-wrapper no-padding center">
                    <div class="orange-square"></div>
                    <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                  </div>
  
                  <div class="meta-wrapper no-padding center">
                    <div class="blue-square"></div>
                    <h5 class="sk-product-section-meta-heading">For Pets</h5>
                  </div>
              
                  {%endcomment%}
              </div>
  
              <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tincture-unflavored?variant=32310809264181" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
            </div>
          </div>
        </div>

        <div class="jc-products-flex-col jc-products-flex-col-custom">
          <div class="jc-product-section-col-inner">
            <a href="https://www.rrmeds.com/products/tincture-unflavored?variant=31651123724341" class="jc-product-section-overlay-link w-inline-block"></a>
            <div class="jc-product-section-img-wrapper collection" >
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_UF_1000mg.jpg?v=1670022477">
            </div>
      
            <div class="jc-product-section-bottom-wrapper">
  
              <div class="product-title-and-img-wrapper">
                  <h4 class="jc-product-section-heading no-margin align-left">1000mg CBD Tincture</h4>
                  <div class="product-spacer"></div>
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
                  {%comment%}
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
                {%endcomment%}
  
              </div>
  
              <div class="spectrum-wrapper holiday">
                <div class="meta-wrapper no-padding center">
                  <div class="green-square"></div>
                  <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                </div>
                {%comment%}
  
                  <div class="meta-wrapper no-padding center">
                    <div class="orange-square"></div>
                    <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                  </div>
  
                  <div class="meta-wrapper no-padding center">
                    <div class="blue-square"></div>
                    <h5 class="sk-product-section-meta-heading">For Pets</h5>
                  </div>
              
                  {%endcomment%}
              </div>
  
              <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tincture-unflavored?variant=31651123724341" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
            </div>
          </div>
        </div>

        <div class="jc-products-flex-col jc-products-flex-col-custom">
          <div class="jc-product-section-col-inner">
            <a href="https://www.rrmeds.com/products/tincture-unflavored?variant=31940376494133" class="jc-product-section-overlay-link w-inline-block"></a>
            <div class="jc-product-section-img-wrapper collection" >
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Tincture_FS_UF_1000mg_3-Pack.jpg?v=1670022477">
            </div>
      
            <div class="jc-product-section-bottom-wrapper">
  
              <div class="product-title-and-img-wrapper">
                  <h4 class="jc-product-section-heading no-margin align-left">1000mg CBD Tincture <br>(3-Pack)</h4>
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_UF_tag.svg?v=1658945052">
                  {%comment%}
                  <img class="flavor-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-lab_testing_AST_FM_tag.svg?v=1658945051">
                {%endcomment%}
  
              </div>
  
              <div class="spectrum-wrapper holiday">
                <div class="meta-wrapper no-padding center">
                  <div class="green-square"></div>
                  <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                </div>
                {%comment%}
  
                  <div class="meta-wrapper no-padding center">
                    <div class="orange-square"></div>
                    <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                  </div>
  
                  <div class="meta-wrapper no-padding center">
                    <div class="blue-square"></div>
                    <h5 class="sk-product-section-meta-heading">For Pets</h5>
                  </div>
              
                  {%endcomment%}
              </div>
  
              <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/tincture-unflavored?variant=31940376494133" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
            </div>
          </div>
        </div>

      

        <div class="full-width-heading-container">
          <h4 class="jc-product-section-heading large less-bold">Softgels</h4>
        </div>

        <div class="jc-products-flex-col jc-products-flex-col-custom">
          <div class="jc-product-section-col-inner">
            <a href="https://www.rrmeds.com/products/softgels?variant=29122871918645" class="jc-product-section-overlay-link w-inline-block"></a>
            <div class="jc-product-section-img-wrapper collection" >
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Softgels_FS_30mg.jpg?v=1670022477">
            </div>
      
            <div class="jc-product-section-bottom-wrapper">
  
              <div class="product-title-and-img-wrapper">
                  <h4 class="jc-product-section-heading no-margin align-left">30mg CBD Softgels</h4>

  
              </div>
  
              <div class="spectrum-wrapper holiday">

                <div class="meta-wrapper no-padding center">
                  <div class="green-square"></div>
                  <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                </div>
                {%comment%}
                <div class="meta-wrapper no-padding center">
                  <div class="orange-square"></div>
                  <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                </div>
  
                  <div class="meta-wrapper no-padding center">
                    <div class="blue-square"></div>
                    <h5 class="sk-product-section-meta-heading">For Pets</h5>
                  </div>
              
                  {%endcomment%}
              </div>
  
              <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/softgels?variant=29122871918645" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
            </div>
          </div>
        </div>

        <div class="jc-products-flex-col jc-products-flex-col-custom">
          <div class="jc-product-section-col-inner">
            <a href="https://www.rrmeds.com/products/thc-free-softgels" class="jc-product-section-overlay-link w-inline-block"></a>
            <div class="jc-product-section-img-wrapper collection" >
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Softgels_BS_30mg.jpg?v=1670022476">
            </div>
      
            <div class="jc-product-section-bottom-wrapper">
  
              <div class="product-title-and-img-wrapper">
                  <h4 class="jc-product-section-heading no-margin align-left">30mg THC-Free Softgels</h4>

  
              </div>
  
              <div class="spectrum-wrapper holiday">

                <div class="meta-wrapper no-padding center">
                  <div class="orange-square"></div>
                  <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                </div>
                {%comment%}
                <div class="meta-wrapper no-padding center">
                  <div class="green-square"></div>
                  <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                </div>

  
                  <div class="meta-wrapper no-padding center">
                    <div class="blue-square"></div>
                    <h5 class="sk-product-section-meta-heading">For Pets</h5>
                  </div>
              
                  {%endcomment%}
              </div>
  
              <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/thc-free-softgels" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
            </div>
          </div>
        </div>

        <div class="full-width-heading-container">
          <h4 class="jc-product-section-heading large less-bold">Pet Products</h4>
        </div>

        <div class="jc-products-flex-col jc-products-flex-col-custom">
          <div class="jc-product-section-col-inner">
            <a href="https://www.rrmeds.com/products/cbd-cat-chews-1-5mg-100-count" class="jc-product-section-overlay-link w-inline-block"></a>
            <div class="jc-product-section-img-wrapper collection" >
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Holiday_Deals_2022_Cat_Chews.jpg?v=1670022476">
            </div>
      
            <div class="jc-product-section-bottom-wrapper">
  
              <div class="product-title-and-img-wrapper">
                  <h4 class="jc-product-section-heading no-margin align-left">1.5mg Trout & Chicken Flavored <br>
                  CBD Cat Chews</h4>

  
              </div>
  
              <div class="spectrum-wrapper holiday">

                <div class="meta-wrapper no-padding center">
                  <div class="green-square"></div>
                  <h5 class="sk-product-section-meta-heading">Full Spectrum</h5>
                </div>
                {%comment%}
                <div class="meta-wrapper no-padding center">
                  <div class="orange-square"></div>
                  <h5 class="sk-product-section-meta-heading">Broad Spectrum</h5>
                </div>
  
                  <div class="meta-wrapper no-padding center">
                    <div class="blue-square"></div>
                    <h5 class="sk-product-section-meta-heading">For Pets</h5>
                  </div>
              
                  {%endcomment%}
              </div>
  
              <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/products/cbd-cat-chews-1-5mg-100-count" class="jc-small-btn w-button full" data-ix="shop-btn">Shop Now</a></div>
            </div>
          </div>
        </div>



</div>

